Repository erwindouna/python-tado: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, prettier, pylint, pytest, yamllint

ruff-check:
  name: ğŸ¶ Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: ğŸ¶ Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

check-ast:
  name: ğŸ Check Python AST
  language: system
  entry: uv run check-ast

check-docstring-first:
  name: â„¹ï¸  Check docstring is first
  language: system
  entry: uv run check-docstring-first

mypy:
  name: ğŸ† Static type checking using mypy
  language: system
  entry: uv run mypy
  require_serial: true

prettier:
  name: ğŸ’„ Ensuring files are prettier
  language: system
  entry: npm run prettier
  pass_filenames: false

pylint:
  name: ğŸŒŸ Starring code with pylint
  language: system
  entry: uv run pylint

pytest:
  name: ğŸ§ª Running tests and test coverage with pytest
  language: system
  entry: uv run pytest --cov=tadoasync --cov-report=term-missing --cov-report=xml --cov-fail-under=95
  pass_filenames: false

yamllint:
  name: ğŸ—  Check YAML files with yamllint
  language: system
  entry: uv run yamllint

remove pre-commit and add prek to devcontainer
  .devcontainer/devcontainer.json
Due: none

moved linter workflow from pre-commit to prek
  .github/workflows/linting.yaml
Due: yamllint

update uv.lock
  uv.lock
Due: none

update dependencies in dev container
  .devcontainer/devcontainer.json
Due: none

fix pre-commit hooks
  .pre-commit-config.yaml
Due: yamllint

fixed error with failed yarn repo signatures
  .devcontainer/Containerfile
  .devcontainer/devcontainer.json
Due: none

made pre-commit changes
  src/tadoasync/tadoasync.py
  tests/conftest.py
  tests/test_tado.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

update readme to use uv instead of poetry
  README.md
Due: none

removed poetry from linting
  .github/workflows/linting.yaml
Due: yamllint

add detection of tado generation
  src/tadoasync/const.py
  src/tadoasync/models.py
  src/tadoasync/tadoasync.py
  tests/__snapshots__/test_tado.ambr
  tests/conftest.py
  tests/fixtures/home_v3.json
  tests/fixtures/home_x.json
  tests/test_tado.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

used uv to install python
  .github/workflows/linting.yaml
Due: yamllint

plural was wrong here
  src/tadoasync/tadoasync.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

use Union instead of Optional
  src/tadoasync/models.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

add copilot suggestions
  .github/workflows/linting.yaml
Due: yamllint

update test workflow
  .github/workflows/tests.yaml
Due: yamllint

include additional home data for tado X installations and combine
  src/tadoasync/models.py
  src/tadoasync/tadoasync.py
  tests/__snapshots__/test_tado.ambr
  tests/conftest.py
  tests/const.py
  tests/fixtures/home_x_hops.json
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

update workflows to use uv
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
Due: yamllint

fixed typing workflow
  .github/workflows/typing.yaml
Due: yamllint

docs: migrate documentation from Sphinx/Read the Docs to VitePress with GitHub Pages deployment
  .github/workflows/deploy-docs.yaml
  .gitignore
  .prettierignore
  .readthedocs.yaml
  README.md
  docs/.vitepress/config.mts
  docs/Makefile
  docs/__init__.py
  docs/index.md
  docs/make.bat
  docs/requirements.txt
  docs/source/__init__.py
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/models.rst
  docs/source/usage.rst
  docs/usage.md
  package-lock.json
  package.json
  pyproject.toml
  scripts/generate_docs.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest, yamllint

Prek fixes
  .pre-commit-config.yaml
  docs/source/conf.py
  pyproject.toml
  src/tadoasync/tadoasync.py
  tests/__init__.py
  tests/conftest.py
  tests/ruff.toml
  tests/syrupy.py
  tests/test_tado.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest, yamllint

feat: add rate limit tracking and public API
  src/tadoasync/models.py
  src/tadoasync/tadoasync.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

refactor: simplify rate limit parsing with extract helper
  src/tadoasync/tadoasync.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

fix(rate-limit): update parsing regex for quota and remaining
  src/tadoasync/tadoasync.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

set indent size to 4 for python files
  .editorconfig
Due: none

extract home ID from jwt instead of /me during setup
  pyproject.toml
  src/tadoasync/tadoasync.py
  tests/conftest.py
  tests/fixtures/auth_token.txt
  tests/test_tado.py
  uv.lock
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

update strings/exceptions
  src/tadoasync/tadoasync.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

don't access /me when initialized with refresh token
  src/tadoasync/tadoasync.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

move all parts of home id acquisition into a single helper
  src/tadoasync/tadoasync.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

add tests for _set_home_id_from_access_token()
  tests/test_tado.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

add unified devices method
  src/tadoasync/api_v3.py
  src/tadoasync/api_x.py
  src/tadoasync/const.py
  src/tadoasync/models_unified.py
  src/tadoasync/models_v3.py
  src/tadoasync/models_x.py
  src/tadoasync/tadoasync.py
  tests/__snapshots__/test_models.ambr
  tests/__snapshots__/test_models_unified.ambr
  tests/__snapshots__/test_tado.ambr
  tests/__snapshots__/test_tado_v3.ambr
  tests/__snapshots__/test_tado_x.ambr
  tests/const.py
  tests/fixtures/LINE_X/roomsAndDevices.json
  tests/test_models_unified.py
  tests/test_tado.py
  tests/test_tado_v3.py
  tests/test_tado_x.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

don't update home id on every auth refresh
  src/tadoasync/tadoasync.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

fix linting error
  tests/test_tado.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

fix: address PR #146 review comments
  .github/workflows/deploy-docs.yaml
  docs/usage.md
  package.json
  scripts/generate_docs.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest, yamllint

test: temporarily deploy docs from feature branch
  .github/workflows/deploy-docs.yaml
Due: yamllint

fix: show class fields and type hints in generated docs
  scripts/generate_docs.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

fix: show inherited members in generated docs
  .github/workflows/deploy-docs.yaml
  package.json
  scripts/generate_docs.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest, yamllint

fix: remove f-string prefix from static string
  scripts/generate_docs.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

linter fixes
  src/tadoasync/api_v3.py
  src/tadoasync/models_unified.py
  src/tadoasync/models_x.py
  src/tadoasync/tadoasync.py
  tests/test_models_unified.py
  tests/test_tado_v3.py
  tests/test_tado_x.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

snapshot update, linter
  src/tadoasync/api_v3.py
  src/tadoasync/api_x.py
  tests/__snapshots__/test_models.ambr
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  mypy: any of: \.py$
  prettier: any of: \.(yaml|yml)$ and \.json$ and \.(md|markdown|mdown)$
  pylint: any of: \.py$
  pytest: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
